# Copy this file to .env and fill values
# Windows PowerShell: Copy-Item .env.example .env

# Copy this file to .env and fill values
# Windows PowerShell: Copy-Item .env.example .env

PORT=5001
MONGODB_URI=mongodb+srv://thaidev:kirito2040@cluster0.mkqivr2.mongodb.net/?appName=Cluster0


# Used to sign admin JWT tokens
JWT_SECRET=change_me_to_a_long_random_string
